<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
        <div class="mb-3">
            Original listing image <br>
            <img src="<%=originalImageUrl%>" alt="preview-image" class="preview-image">
        </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Upload New Image</label>
            <input name="listing[image]" type="file" class="form-control" >
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">Please enter price</div>
        </div>

        <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" value="<%= listing.country %>"type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter country</div>
        </div>
    </div>

        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter location</div>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="listing[category]" id="category" class="form-control" required>
                <option value="">Select a category</option>
                <option value="Trending" <%= listing.category === 'Trending' ? 'selected' : '' %>>Trending</option>
                <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
                <option value="Mountains" <%= listing.category === 'Mountains' ? 'selected' : '' %>>Mountains</option>
                <option value="Castles" <%= listing.category === 'Castles' ? 'selected' : '' %>>Castles</option>
                <option value="Amazing Pools" <%= listing.category === 'Amazing Pools' ? 'selected' : '' %>>Amazing Pools</option>
                <option value="Camping" <%= listing.category === 'Camping' ? 'selected' : '' %>>Camping</option>
                <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
                <option value="Arctic" <%= listing.category === 'Arctic' ? 'selected' : '' %>>Arctic</option>
                <option value="Dome" <%= listing.category === 'Dome' ? 'selected' : '' %>>Dome</option>
                <option value="Boats" <%= listing.category === 'Boats' ? 'selected' : '' %>>Boats</option>
            </select>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
</div>